@media screen and (min-width:320px) and (max-width: 375px){
  .main {
    background: #181818;
    overflow: scroll;
  }

  .container {
    padding: 0 16px;
  }
  
  .flex {
    flex-direction: column;
  }

  .information {
    width: 100%;
  }
}