@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
@import "./keyframes.css";

html,body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.fake-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 0.2;
  z-index: 1;
}

.main {
  background: url("../images/Vector.png");
  background-color: #181818;
  overflow: hidden;
  width: 100vw; 
  height: 970px;
}

.container {
  height: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  padding: 30px 80px 30px 100px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.information {
  width: 32.7%;
}

.title {
  margin: 35px 0 58px;
  font-size: 56px;
  font-weight: 400;
  line-height: 68px;
}

.text {
  color: #FFFFFF;
}

.text_small {
  font-size: 22px;
  line-height: 37.4px;
}

.text_big-bold {
  margin-top: 21px;
  font-size: 45px;
  font-weight: 900;
  line-height: 70px;
}

.text_big-bold_bigger {
  font-size: 61px;
  margin-left: 50px;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  height: 100%;
}

.animation__levitation {
  position: relative;
  width: 100%;
  height:100%;
  padding: 10px;
  animation: levitation 3s alternate infinite;
  -webkit-animation: levitation 3s alternate infinite;
  -moz-animation: levitation 3s alternate infinite;
  z-index: 3;
}

.animation__girl {
  width: 120%;
  height: 0%;
  position: absolute;
  background: url("../images/girl.png") no-repeat;
  background-position: top center;
  z-index: 3;
  animation: appearance 5s forwards;
  animation-delay: 3s;
  -webkit-animation: appearance 5s forwards;
  -webkit-animation-delay: 3s;
  -moz-animation: appearance 5s forwards;
  -moz-animation-delay: 3s;
}

.animation__hole {
  width: 194px;
  height: 61px;
  background: #000000;
  border-radius: 50%;
  opacity: 0;
  z-index: 0;
  animation: increase 7s forwards;
  animation-delay: 1s;
  -webkit-animation: increase 7s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation: increase 7s forwards;
  -moz-animation-delay: 1s;
}

.wrapper{
  width: 41%;
  height: 100%;
}

.device{
  background: url("../images/device.png") no-repeat;
  background-size: contain; 
  background-position: center center;
  width: 120%;
  height: 100%;
}
