@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
html,body {
  margin: 0;
  padding: 0;
  font-family:  'Ubuntu', sans-serif;
}

.fake-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  opacity: 0.2;
  z-index: 1;
}

.main{
  background-color: #F3F3F3;
  width: 100%;
  height: 900px;
}

.container {
  display: flex;
  box-sizing: border-box;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 26px 33px 45px;
}

.frame {
  width: 56%;
  height: 100%;

}

.table {
  width: 100%;
  height: 100%;
  position: relative;
}
.table__image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.countertop {
  background: url("../assets/ergonomicsImges/table1.png") no-repeat;
  background-position: center center;
}

.table-legs {
  background: url("../assets/ergonomicsImges/table2.png") no-repeat;
  background-position: center center;
}

.description {
  width: 44%;
}

.button {
  border: none;
  cursor: pointer;
}

.wrap {
  display: flex;
  position: relative;
  top: 450px;
  justify-content: space-evenly;
}

.button_blue {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #A6FFFF;
  color:#000000;
  font-family:  'Ubuntu', sans-serif;
  font-size: 40px;
  height: 200px;
  width: 200px;
}

.title {
  margin: 0;
  font-family:  'Ubuntu', sans-serif;
  color: #0B64FE;
  font-size: 62px;
  line-height: 62px;
}

.text {
  font-family:  'Ubuntu', sans-serif;
  color: #181818;
  font-size: 22px;
  line-height: 37.4px;
  margin-top: 35px;
}